* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #838383;
  color: #333;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:visited {
  color: #333;
}

.header-home {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px #000;
  background-color: rgba(131, 131, 131, 0.1);
  position: absolute;
}

.header-home h1 {
  color: #fff;
  background-color: transparent;
}

.header-home a {
  text-decoration: none;
}

.header-results {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  padding: 2rem;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.75);
  border-bottom: 1px #000;
  background-color: rgba(131, 131, 131, 0.1);
}

.header-results h1 {
  color: #333;
}

.header-results a {
  text-decoration: none;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #838383;
}

.home {
  position: relative;
}

.home--search {
  position: absolute;
  top: 40vh;
  left: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.home--image {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -100;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 4.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 2rem;
}

.input {
  width: 50vh;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border: 2px solid #000;
  background-color: white;
}

.input-li {
  list-style-type: none;
  font-size: 1.6rem;
  padding: .5rem;
  background-color: #fff;
  border: 2px solid #000;
}

.input-li:not(last-child) {
  border-bottom: none;
  border-top: none;
}

.input-li:last-child {
  border-bottom: 2px solid #000;
}

.input-li a {
  border: none !important;
}

.modal {
  display: -ms-grid;
  display: grid;
  margin: 0;
  background-color: #fff;
  width: 85vw;
  height: 85vh;
  -ms-grid-columns: 85vw;
      grid-template-columns: 85vw;
  -ms-grid-rows: 5vh 5vh 5vh 70vh;
      grid-template-rows: 5vh 5vh 5vh 70vh;
}

.modal--content {
  font-size: 1.6rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal--content span {
  font-size: 1.6rem;
}

.modal--content:first-child {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal--image {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal--image:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.modal--image-full {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal--image-full:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.card-list {
  -webkit-column-count: 3;
          column-count: 3;
}

.card {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card--image {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1rem;
  border-radius: 10px;
}

.card--image:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

@media (min-width: 768px) {
  .form {
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .card-list {
    -webkit-column-count: 1;
            column-count: 1;
  }
}
/*# sourceMappingURL=App.css.map */